/* 여백초기화 */
body, div, dl, dd, dt, ul, li, ol, h1, h2, h3, 
h4, h5, h6, form, input, legend, textarea, select, 
fieldset, p, button,figcaption, figure{margin: 0; padding: 0;}

/* 링크초기화 */
a{color: #222; text-decoration: none;}
a:hover{color:#2698cd}

/* 폰트초기화 */
body, input, textarea, select, button, table{
    font-family: 'Nanum Gothic',"나눔 고딕","Malgun Gothic","맑은 고딕","돋움","Dotum",sans-serif; font-size: 13px; line-height: 1.6;
}

/* 체목스타일 초기화 */
h1,h2,h3,h4,h5,h6{font-size: 13px; font-weight: normal;}

/*ir효과 */
.ir{width: 0; height: 0; font-size: 0; line-height: 0;
overflow: hidden; position: absolute; left: 0; top: 0;
}

/*이태릭체 초기화 */
em,address{
    font-style: normal;
}

/*테두리 초기화 */
fieldset{border: 0;}

/*폰트 굵기 초기화 */
strong{font-weight: normal;}

/* 이미지 초기화 */
img{width: 100%;}

/* button 초기화 */
button{border:0}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* 블릿기호 */
ul,li,ol{list-style: none;}