@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700;800&display=swap');


/* font-family: 'Abel', sans-serif;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Gothic', sans-serif; */


/* 레이아웃 */
body {
    background: url(../img/sea.jpg)repeat-x center top;
    background-size: 100% 327px;
}

#nav {
    background-color: #d5f4f7;
}

#title {
    background-color: #c9dfff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#header {
    height: 327px;
}

main {}

#footer {
    border-top: 1px solid #dbdbdb;
}

/* contents */
#contents {}

#contents .container {
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    box-sizing: border-box;
}

#contents #cont_left {
    float: left;
    width: 250px;
}

#contents #cont_center {
    float: left;
    width: calc(100% - 500px);
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    box-sizing: border-box;
}

#contents #cont_right {
    float: left;
    width: 250px;

}

/* header */
.header .header_menu {
    text-align: right;
}

.header .header_menu a {
    color: #fff;
    display: inline-block;
    padding: 10px 8px;

}

.header .header_menu a:hover {
    color: #ccc;
}

.header .header_tit {
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-transform: uppercase;
    /* //대문자 바꿔주는거 */
}


.header .header_tit h1 {
    color: #fff;
    display: inline-block;
    padding: 5px 30px;
    background-color: #51b051;
    letter-spacing: 2px;
    margin-top: 55px;
    font-weight: 800;
    transition: 0.3s;

}

.header .header_tit h1:hover {
    box-shadow: inset 130px 0 0px #66d6de,
        inset -130px 0 0px #258fac;
}

.header .header_tit a {
    color: #fff;
    background-color: #F7C04A;
    display: inline-block;
    padding: 10px 20px;
    margin-top: -7px;
    transition: 0.3s ease;
}

.header .header_tit a:hover {
    color: #fff;
    box-shadow: inset 64px 0px 0px #19A7CE,
        inset -64px 0px 0px #ADE4DB;
}

.header .header_icon {
    text-align: center;
    margin-top: 40px;
}

.header .header_icon ul {}

.header .header_icon ul li {
    display: inline;
    margin-top: 40px;
}

.header .header_icon ul li a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 35px;
    width: 60px;
    height: 60px;
    background-color: #19376D;
    border-radius: 50%;
    line-height: 60px;
}

.header .header_icon ul li a i {}

.header .header_icon ul li a span {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    background-color: #19376D;
    line-height: 1.2;
    padding: 3px 9px;
    border-radius: 6px 0;
    transition: 0.3s;
    opacity: 0;
}

.header .header_icon ul li a span::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 40%;
    border: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.header .header_icon ul li:hover a span {
    top: -30px;
    opacity: 1;
}

/* nav 전체 메뉴 */
.nav {
    padding: 25px 0;
    display: none;
}

.nav>div {
    float: left;
    width: 40%;
}

.nav>div:last-child {
    width: 20%;
}

.nav>div h3 {
    font-size: 18px;
    color: #254cfb;
    font-weight: bold;
    margin-bottom: 4px;
}

.nav>div ul {
    overflow: hidden;
}

.nav>div ul li {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 8px;
    box-sizing: border-box;
}

.nav>div ul li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #19A7CE;
    position: absolute;
    top: 8px;
    left: 0;
}

.nav>div ul li a::after {
    content: "";
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #254cfb;
    position: absolute;
    transition: 0.3s;

}

.nav>div ul li:hover a::after {
    width: 100%;
}

.nav>div:last-child ul li {
    width: 100%;
}

/* title */
.tit {
    position: relative;
    text-align: center;
    padding: 5px 0;
}

.tit h2 {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 39px;
    color: #062037;

}

.tit .btn {

    position: absolute;
    right: 0;
    top: 6px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    color: #062037;
    line-height: 60px;
}

.tit .btn i {}


/* 컨텐츠영역 */
.column {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
}

.column .col_tit {
    font-size: 20px;
    color: #2f7fa6;
    padding: 5px;
}

.column .col_desc {
    color: #878787;
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.column.col3 {
    border-bottom: none
}

.column.col6 {
    border-bottom: none
}

.column.col9 {
    border-bottom: none
}

/* menu */
.menu {}

.menu ul {}

.menu ul li {}

.menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #878787;
    text-transform: uppercase;
    border-bottom: 1px solid #dbdbdb;
    transition: 0.5s;
}

.menu ul li a:hover {
    background-color: rgb(75, 190, 239);
    color: #fff;
    box-shadow: inset 180px 0px rgb(84, 138, 96)
}

.menu ul li a i {
    position: absolute;
    right: 10px;
    top: 15px;
}

/* 이미지 슬라이드 col4 */
.slider {}

.slider div {}

.slider div figure {
    position: relative;
}

.slider div figure img {}

.slider div figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.slider div figure figcaption em {
    font-family: 'Abel', sans-serif;
    transition: .9s .2s;
    display: block;
    transform: translateX(500px);
    opacity: 0;
}

.slider div.slick-active figure figcaption em {
    opacity: 1;
    transform: translateX(0);
}

.slider div figure figcaption span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(500px);
    transition: .9s .35s;
    font-size: 23px;
}

.slider div.slick-active figure figcaption span {
    opacity: 1;
    transform: translateX(0)
        /* = none */
    ;
}

.slider .slick-arrow {
    position: absolute;
    z-index: 30;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0;
    visibility: hidden;
    color: #5dbfeb;
    bottom: -9px;
}

.slider .slick-prev {
    left: 10px;
}

.slider .slick-prev::before {
    content: "\f053";
    font-size: 20px;
    visibility: visible;
}

.slider .slick-next {
    right: 10px;
}

.slider .slick-next::before {
    content: "\f054";
    font-size: 20px;
    visibility: visible;
}

.slider .slick-dots {
    text-align: center;
}

.slider .slick-dots li {
    display: inline;
    margin: 5px;
}

.slider .slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #5dbfeb;
    border-radius: 50%;
    transition: .3s;
}

.slider .slick-dots li.slick-active button {
    background-color: #ccc;
}

/* 라이트갤러리 col5 */
.square {}

.square a {
    float: left;
    width: 19%;
    margin: 0.5%;
    position: relative;
    overflow: hidden;
}

.square a img {
    width: 100%;
    display: block;
}

.square a em {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: .3s;
}

.square a:hover em {
    bottom: 0;
}

.square a:nth-child(1) img {
    filter: blur(2px);
}

.square a:nth-child(2) img {
    filter: brightness(50%);
}

/*명도*/
.square a:nth-child(3) img {
    filter: contrast(10%);
}

/* 대비 */
.square a:nth-child(4) img {
    filter: grayscale(100%);
}

/* 회색조 */
.square a:nth-child(5) img {
    filter: hue-rotate(10deg);
}

/* 색조 */
.square a:nth-child(6) img {
    filter: invert(100%);
}

/* 반전 */
.square a:nth-child(7) img {
    filter: opacity(50%);
}

/* 투명도 */
.square a:nth-child(8) img {
    filter: saturate(150%);
}

/* 채도 */
.square a:nth-child(9) img {
    filter: sepia(200%);
}

/* 적갈색 */
.square a:nth-child(10) img {
    filter: sepia(40%) hue-rotate(40deg);
}

/* 비디오 col6 */
/* padding과 margin의 백분율(%)은 상하좌우가 동일하게 기준이 부모의 넓이 */
.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* ->16:9 비율로 맞춰서 넓이 100% 기준으로 */
}

.video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*  card col7 */
.card {
    position: relative;
    perspective: 600px;
}

.card .front {
    position: relative;
    z-index: 2;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 0.3s;

}

.card .front img {}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4038dc;
    transform: rotateY(-180deg);
    z-index: 1;
    backface-visibility: hidden;
    transition: 0.3s;

}

.card .back i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
    z-index: 2;
}

/* card2 col8 */
.card2 {
    position: relative;
    perspective: 600px;
    /* ->떨어져서 보는 효과 */
}

.card2 figure {
    transform-style: preserve-3d;
}

.card2 figure img {}

.card2 figure figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(100px);
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    font-size: 50px;
}

.card2 figure img figcaption h3 {
    font-family: 'Abel', sans-serif;
    background-color: raga(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    padding: 3px 0;

}

.card2 .front {
    position: relative;
    z-index: 2;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card2 .back {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card2:hover .front {
    transform: rotateY(180deg);

}

.card2:hover .back {
    transform: rotateY(0deg);
    z-index: 2;
}

/* card3 col9 */
.card3 {
    position: relative;
    overflow: hidden;
}

.card3 figure {}

.card3 figure img {}

.card3 figure figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(200%, -50%)rotate(180deg);
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    padding-top: 13%;
    box-sizing: border-box;
}

.card3:hover figure figcaption {
    transform: translate(-50%, -50%) rotate(0deg);
}

.card3 figure figcaption h3 {}

.card3 figure figcaption h3 em {
    display: block;
}


/* 게시판1 col2 */
.notice1 {
    position: relative;
}

.notice1 h5 {
    font-size: 14px;
    color: #2f7fa6;
    padding-bottom: 5px;
}

.notice1 ul {}

.notice1 ul li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.notice1 ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #449ce2;
}

.notice1 ul li a {}

.notice1 .more {
    position: absolute;
    right: 5px;
    top: 7px;
    color: rgb(84, 138, 96);
    font-size: 10px;
}

/* 게시판2 col2 */
.notice2 {
    margin-top: 15px;
    position: relative;
}

.notice2 h5 {
    font-size: 14px;
    color: #2f7fa6;
}

.notice2 ul {}

.notice2 ul li {
    /* 2줄이상 말줄임말 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 2줄이상 말줄임말 */
    position: relative;
    margin-bottom: 5px;
    padding-left: 10px;
}

.notice2 ul li::before {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 8px;
}

.notice2 ul li a {}

.notice2 .more {
    position: absolute;
    right: 5px;
    top: 7px;
    color: rgb(84, 138, 96);
    font-size: 10px;
}

/* blog2 col3 */
.blog2 {
    margin-top: 15px;
}

.blog2 .img-retina {
    background: url(../img/blog3_@1.jpg);
    background-size: cover;
}

.blog2 .img-retina h5 {
    padding: 30px;
    color: #777;
    text-align: center;
}

.blog2 p {}

/* dppx:Device pixel ratio */
@media only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-resolution:2) {
    .blog2 .img-retina {
        background: url(../img/blog3_@3.jpg);
        background-size: cover;
    }
}


/* footer */
.footer {
    text-align: center;
    padding: 30px 0;
}

.footer ul {}

.footer ul li {
    display: inline;
    padding: 0 7px 0 10px;
}

.footer ul li a {}

.footer address {
    padding-top: 15px;
}

.footer address a {}

.footer address strong {
    font-weight: bold;
}










@media(max-width: 1220px) {
    .container {
        width: 100%;
    }

    .row {
        padding: 0 15px;
    }

    .header .header_menu {
        padding-right: 15px;
    }

    .tit .btn {
        right: 5px;
    }

    #contents .container {
        border: none;
    }

    .square a {
        width: 24%;
    }

    .square a:nth-child(5n) {
        display: none;
    }

    #contents #cont_center {
        min-height: 1373px;
    }

}

@media(max-width: 1024px) {
    .square a {
        width: 32.3333%;
    }

    .square a:nth-child(5) {
        display: block;
    }
}

@media(max-width: 960px) {
    .nav>div {
        float: none;
        width: 100%;}

        #contents #cont_right {
            float: none;
            clear: both;
            width: 100%;
            border-top: 1px solid #dbdbdb;
        }

        #contents #cont_right .column {
            float: left;
            width: 33.3333%;
            box-sizing: border-box;
        }
    }

    .nav>div:last-child {
        width: 100%;
    }

    .nav>div ul li {
        width: 33.3333%;
    }

    .nav>div:last-child ul li {
        width: 33.3333%;
    }
    #contents #cont_center{
        width: calc(100% - 250px);
        border-right:none ;
    }
    .column.col7{
        border-right:1px solid #dbdbdb;
        border-bottom: none;
    }
    .column.col8{
        border-right:1px solid #dbdbdb;
        border-bottom: none;
    }

@media(max-width: 768px) {
    #contents #cont_left{
        float: none;
        width: 100%;
    }
    #contents #cont_center{
        width: 100%;
        border-left:none ;
        min-height: auto;}
}

@media(max-width: 600px) {
    #header {
        height: auto;
    }

    .header .header_tit {
        display: none;
    }

    .header .header_icon {
        display: none;
    }

    .tit .btn {
        display: none;
    }
     
    .column.col1{
        padding: 0;
        border-bottom: 0;
    }
    .column.col1 .col_tit{
       display: none;
    }
    .column.col1 .col_desc{display: none;}
    .column.col1 .menu ul li a i{
        display: none;
    }
    .column.col1 .menu ul li{
        box-sizing: border-box;
        border: 1px solid #fff;
        width: 33.3333%;
        float: left;
        text-align: center;
        border-right: none;
        border-bottom: none;
        border-top: none;
       
    }
    .column.col1 .menu ul li a{color: #fff;}
    .column.col1 .menu ul li:nth-child(4){border-top: none;}
    .column.col1 .menu ul li:nth-child(5){border-top: none;}
    .column.col1 .menu ul li:nth-child(6){border-top: none;}
    .column.col1 .menu ul li:nth-child(3n){border-right:0;}
    .column.col2{background-color: #fff;}
    .column.col4{border-top: 1px solid #dbdbdb;}

    #contents #cont_right .column{
    width:50%;
    float: left;
    box-sizing: border-box;
}
   .column.col9{display: none;}
   .column.col8{border-right: 0;}
   .slider div figure figcaption{padding: 10px;}
   .slider div figure figcaption span{font-size: 14px;}

    .square a{width: 49%;}
    .square a:nth-child(5){display: none;}

}

@media(max-width: 480px) {
  .tit h2{font-size: 10vw;}
   #contents #cont_right .column{
    width: 100%;
   }
   .column.col7{border-right: 0;}
   .square a{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
   }

}

@media(max-width: 320px) {}